<h1>UI components sprint</h1>

<h2>Avatar design</h2>

<img src="https://placehold.it/50x50" class="avatar">
<img src="https://placehold.it/50x50" class="avatar-small">

<h2>Button design</h2>

<a href="#" class="btn-medium">Write stories</a>
<a href="#" class="btn-twitter">Start now</a>

<h2>Card design</h2>

<div class="row">
  <div class="col col-xs-4 col-gt-xs-2 col-gt-md-1" *ngFor="let i of [1, 2, 3, 4]">
    <div class="card">
      <span class="card-category">POPULAR</span>
      <div class="card-description">
        <h3>Stripe</h3>
        <p>A cool payment API</p>
      </div>
      <img src="https://placehold.it/50x50" class="avatar-small card-image">
    </div>
  </div>
</div>

<h2>Badge design</h2>

<img src="https://placehold.it/50x50" class="avatar">
<span class="badge">4</span>

<h2>Banner design</h2>

<div class="banner">
  <div class="banner-content">
    <h1>Stripe</h1>
    <p>Cool payment API</p>
    <a href="#" class="btn-twitter">Start now</a>
  </div>
</div>
