.btn-medium {
  color: #808080;
  border: 1px solid #808080;
  border-radius: 50px;
  padding: 10px 15px;
  font-weight: lighter;
  text-decoration: none;
  opacity: .6;

  &:hover {
    opacity: 1;
  }
}

.btn-twitter {
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  font-weight: bolder;
  background-color: #D4312D;
  text-decoration: none;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}
